body {
	background-color: #e3e0d8;
	
}

.header {
	padding: 20px 0;
	font-family: CandaraRegular, Tahoma;
	
	.logo {
		float: left;
		width: 265px;
	}
	
	ul { 
		padding-top: 37px;
		list-style-type: none;
		font-size: 18px;
		color: #4d4a47;

		
	
		li {
			float: left;
			padding: 0 20px;
		}
	}
}

.footer-container {
	margin: 20px 0;
	padding: 20px 0;
	font-family: CandaraRegular, Tahoma;
	background-color: #9a948f;
	color: #e6e4e3;
	
	.footer-left {
		h3 {
			line-height: 16px;
		}
	}

	
	.footer-middle {
		.facebook-logo { 
			width: 55px; 
		}
		.address-name {
			font-size: 16px;
			padding: 20px 0 0 0;
		}
	}
	
	.footer-right {
		ul { 
			padding: 0;
			list-style-type: none;
		}
		h3 {
			font-size: 18px;
			line-height: 0px;
		}
	}
		

}