html, body {
	font-family: CandaraRegular, sans serif;
	background-color: #e3e0d8;
	height: 100%;
}

h4 { 
	font-family: CandaraBold, sans serif; 
}
h1, h2, h3, h5, h6 { 
	font-family: CandaraRegular, sans serif; 
}

a:hover { text-decoration: none; }

.phone-call-to-action {
	position: absolute;
	top: 15px;
	right: 0;
	padding: 10px;
	
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	
	background-color: #b8b4ae;
	
	font-family: CandaraBold, sans serif;
	font-size: 18px;
	color: #f6f6f5;
	
	&:hover {
		background-color: #4c834e;
		color: #f6f6f5;
	}
	
	.glyphicon {
		top: 5px;
		color: #e4e1d9;
		padding-right: 25px;
	}
}

.header {
	padding: 20px 0;
	
	.logo {
		float: left;
		width: 265px;
	}
	
	ul { 
		padding-top: 33px;
		list-style-type: none;
		font-size: 16px;
		color: #4d4a47;


		li { 
			float: left; 
			padding: 0 20px; 

			&:first-child { margin-left: 23px; }
			
			.first-letter-larger;
			
			p { display: inline-block; .first-letter-larger; }
		}
	}
}

.picture-nav {
	text-align: center;
	margin: 40px 0;
	
	img { margin: 20px; }
}

.content-container {
	min-height:100%;
	
	h2 { 
		color: #b1aaa4; 
		.first-letter-larger; 
	}
	h4 { 
		display: inline-block;
		font-size: 16px; 
		.first-letter-larger; 
		border-bottom: 1px solid #ccc;
		p { display: inline-block; .first-letter-larger; margin: 0; }
	}
	
	.consultation-container {
		position: relative;
		background-color: #d8d4d1;
		padding: 60px 0;
		
		.consultation-form-container {
			background-color: #fff; 
			border-radius: 4px;
			
			.km-btn { margin-bottom: 20px; }
		}
	}
	
	.awards-and-testimonies {
		padding: 50px 0;
		
		.white-circle {
			background-color: #fff;
			border-radius: 100%;
			padding: 12px;
		}
	}
	
	.divider{
		position: absolute;
		width: 1170px;
		left: 20%;
		
		&:first-child { top: -23px; }
		&:last-child { bottom: -23px; .flip-horizontal }
	}
}

.footer-container {
	padding: 20px 0;
	
	background-color: #9a948f;
	color: #e6e4e3;
	
	a { 
		color: #65625d; 
		
		&:hover {
			color: #efefef;
		}
	}
	
	.footer-left {
		.images { text-align: center; }
		h3 { line-height: 16px;	margin-top: 0; }
	}

	
	.footer-middle {
		.facebook-logo { 
			width: 55px; 
		}
		.address-name {
			font-size: 16px;
			padding: 20px 0 0 0;
		}
	}
	
	.footer-right {
		ul { 
			padding: 0;
			list-style-type: none;
			li { .first-letter-larger; }
		}
		h3 {
			.first-letter-larger;
			line-height: 0px;
		}
	}
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.first-letter-larger {
	text-transform: uppercase;
    &:first-letter { font-size: 120%; }
}

.km-btn {
	background-color: #4c834e;
	border: 0;
	padding: 10px 30px;
	
	font-size: 18px;
	color: #fff;
	
	.first-letter-larger;
	
	.box-shadow(3px 3px 0, #d0d1d2);

	&:hover {
		background-color: #679769;
	}
}

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}