/***************************************************************
 * Variables
 ***************************************************************/
/***************************************************************
 * General Styles
 ***************************************************************/
html,
body {
  font-family: Candara, sans-serif;
  background: url('../img/background.jpg') center center repeat;
  height: 100%;
}
h4 {
  font-family: CandaraBold, sans-serif;
  color: #504C48;
}
h1,
h2,
h3,
h5,
h6 {
  font-family: Candara, sans-serif;
}
a:hover {
  text-decoration: none;
}
/***************************************************************
 * Header area
 ***************************************************************/
.phone-call-to-action {
  -webkit-transition-property: color, background-color, padding-right;
  -moz-transition-property: color, background-color, padding-right;
  -ms-transition-property: color, background-color, padding-right;
  -o-transition-property: color, background-color, padding-right;
  transition-property: color, background-color, padding-right;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  position: absolute;
  top: 14px;
  right: 0;
  padding: 8px;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  background-color: #B8B4AE;
  font-size: 14px;
  color: #F6F6F5;
  z-index: 9999;
}
@media (min-width: 768px) {
  .phone-call-to-action {
    top: 2px;
  }
}
@media (min-width: 1200px) {
  .phone-call-to-action {
    top: 30px;
  }
}
.phone-call-to-action:hover {
  background-color: #4C834E;
  color: #F6F6F5;
  padding-right: 30px;
}
.phone-call-to-action .glyphicon {
  top: 4px;
  color: #E4E1D9;
  margin-left: 2px;
  margin-right: 2px;
}
.header {
  padding-top: 15px;
}
.header .logo {
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .header .logo {
    float: left;
  }
}
.header .logo .full {
  width: 276px;
}
@media (max-width: 440px) {
  .header .logo .full {
    display: none;
  }
}
.header .logo .emblem {
  display: none;
  width: 66px;
}
@media (max-width: 440px) {
  .header .logo .emblem {
    display: block;
  }
}
.header .top-nav {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Candara, sans-serif;
  font-size: 16px;
}
@media (min-width: 992px) {
  .header .top-nav {
    margin: auto 0 auto 275px;
  }
}
@media (min-width: 1200px) {
  .header .top-nav {
    text-align: left;
  }
}
.header .top-nav li {
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
}
.header .top-nav li:first-letter {
  font-size: 120%;
}
@media (min-width: 768px) {
  .header .top-nav li {
    display: inline-block;
    padding: 0 8px;
    line-height: 68px;
  }
}
@media (min-width: 992px) {
  .header .top-nav li {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .header .top-nav li {
    padding: 0 35px;
  }
}
.header .top-nav li a {
  -webkit-transition-property: border-bottom-color;
  -moz-transition-property: border-bottom-color;
  -ms-transition-property: border-bottom-color;
  -o-transition-property: border-bottom-color;
  transition-property: border-bottom-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  color: #504C48;
  border-bottom: 3px solid transparent;
  margin-bottom: 15px;
}
.header .top-nav li a:hover {
  border-bottom-color: #504C48;
}
@media (max-width: 768px) {
  .header .top-nav li a {
    display: block;
    padding: 6px 0;
    margin-bottom: 1px;
    font-size: 18px;
    background: #B8B4AE;
  }
  .header .top-nav li a:hover {
    background: #A69F95;
    border-bottom-color: transparent;
  }
}
.header .top-nav li a p {
  text-transform: uppercase;
  display: inline-block;
}
.header .top-nav li a p:first-letter {
  font-size: 120%;
}
.header .top-nav li a.active {
  border-bottom-color: #504C48;
}
/***************************************************************
 * Carousel
 ***************************************************************/
#carousel {
  box-shadow: -1px -1px 2px #cccccc, 1px -1px 2px #cccccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 768px) {
  #carousel {
    display: none;
  }
}
#carousel .carousel-inner {
  z-index: 2;
}
#carousel .plumeria {
  position: absolute;
  width: 190px;
  bottom: 0;
  left: 0;
  margin-left: -44px;
  margin-bottom: -36px;
  z-index: 3;
}
@media (max-width: 992px) {
  #carousel .plumeria {
    width: 143px;
    margin-bottom: -28px;
  }
}
#carousel .rocks {
  position: absolute;
  width: 175px;
  right: 0;
  bottom: 0;
  margin-right: -44px;
  margin-bottom: -36px;
  z-index: 3;
}
@media (max-width: 992px) {
  #carousel .rocks {
    width: 131px;
    margin-bottom: -28px;
  }
}
#carousel .shadow {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: -18px;
  opacity: 0.2;
  z-index: 1;
}
@media (max-width: 1200px) {
  #carousel .shadow {
    margin-bottom: -17px;
  }
}
@media (max-width: 992px) {
  #carousel .shadow {
    margin-bottom: -12px;
  }
}
#carousel .caption .fancy {
  font-family: SaintAndrewsRegular, serif;
  font-size: 64px;
  color: #807C77;
  line-height: 1;
}
#carousel .hand-to-face {
  position: absolute;
  top: 20px;
  right: 40px;
  text-align: right;
}
#carousel .face-to-hand {
  position: absolute;
  top: 20px;
  left: 30px;
}
#carousel .face-to-hand .fancy {
  font-size: 120px;
}
/***************************************************************
 * Big nav buttons
 ***************************************************************/
.picture-nav {
  text-align: center;
  margin: 60px 0;
}
.picture-nav .big-button {
  display: inline-block;
  margin: 0 10px 20px 10px;
  width: 155px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .picture-nav .big-button {
    width: 190px;
  }
}
@media (min-width: 992px) {
  .picture-nav .big-button {
    width: 155px;
  }
}
@media (min-width: 1200px) {
  .picture-nav .big-button {
    width: 180px;
  }
}
.picture-nav .big-button .image-container {
  height: 140px;
}
.picture-nav .big-button .image-container .image {
  -webkit-transition-property: width, height, margin-top, background-color;
  -moz-transition-property: width, height, margin-top, background-color;
  -ms-transition-property: width, height, margin-top, background-color;
  -o-transition-property: width, height, margin-top, background-color;
  transition-property: width, height, margin-top, background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  background-image: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 33%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */

  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(33%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */

  background-image: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 33%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 33%, rgba(255, 255, 255, 0) 100%);
  /* Opera 12+ */

  background-image: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 33%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */

  background-image: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 33%, rgba(255, 255, 255, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 5px;
  width: 130px;
  height: 130px;
  background-color: #bca68f;
  border-radius: 100%;
  border-top: 1px solid #D2D5D9;
  border-bottom: 1px solid #F5F2ED;
}
.picture-nav .big-button .image-container .image .normal,
.picture-nav .big-button .image-container .image .sepia {
  -webkit-transition-property: margin-left, margin-top;
  -moz-transition-property: margin-left, margin-top;
  -ms-transition-property: margin-left, margin-top;
  -o-transition-property: margin-left, margin-top;
  transition-property: margin-left, margin-top;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -5px;
  margin-top: -5px;
  width: 140px;
}
.picture-nav .big-button .image-container .image .normal {
  opacity: 0;
}
.picture-nav .big-button:hover .image {
  margin-top: 0;
  width: 140px;
  height: 140px;
  background-color: #ccbfb3;
  border-top-color: #FFF;
  border-bottom-color: #D2D5D9;
}
.picture-nav .big-button:hover .image .normal {
  opacity: 1;
}
.picture-nav .big-button:hover .image .normal,
.picture-nav .big-button:hover .image .sepia {
  margin-left: 0px;
  margin-top: 0px;
}
.picture-nav .big-button:hover .text {
  color: #140B08;
  text-shadow: 0 1px 0 #FFF4E8;
}
.picture-nav .big-button .text {
  font-family: ChampagneLimousines, Arial;
  font-size: 26px;
  color: #a09992;
  letter-spacing: 5px;
}
/***************************************************************
 * Content area
 ***************************************************************/
.content-container {
  min-height: 100%;
  /*
     * Home page
     */

  /*
     * About us
     */

  /*
     * Products
     */

  /*
     * Procedures
     */

  /*
     * General
     */

}
.content-container h2 {
  color: #B1AAA4;
  text-transform: uppercase;
}
.content-container h2:first-letter {
  font-size: 120%;
}
.content-container h2 p {
  line-height: 0.8;
}
.content-container h4 {
  color: #504C48;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #CCC;
  line-height: 0.8;
}
.content-container h4:first-letter {
  font-size: 120%;
}
.content-container h4 p {
  line-height: 0.8;
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
}
.content-container h4 p:first-letter {
  font-size: 120%;
}
.content-container p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 24px;
}
.content-container .consultation-container {
  position: relative;
  background-color: #D8D4D1;
  padding: 60px 0;
  box-shadow: inset 0 1px 2px #bbbbbb, inset 0 -1px 2px #bbbbbb, 0 1px #f3efe7, 0 -1px #b6ab96;
}
.content-container .consultation-container h4 p {
  line-height: 0.8;
}
.content-container .consultation-container p {
  line-height: 35px;
}
.content-container .consultation-container .consultation-form-container {
  background-color: #FFF;
  border-radius: 4px;
}
.content-container .consultation-container .consultation-form-container .km-btn {
  margin-bottom: 20px;
}
.content-container .awards-and-testimonies {
  padding: 50px 0;
}
.content-container .awards-and-testimonies h4 {
  margin-bottom: 20px;
}
.content-container .awards-and-testimonies .white-circle {
  background-color: #FFF;
  border-radius: 100%;
  padding: 12px;
  float: right;
}
.content-container .awards-and-testimonies .award {
  margin-bottom: 80px;
}
.content-container .awards-and-testimonies .testimonials .row {
  margin-bottom: 40px;
}
.content-container .awards-and-testimonies .testimonials .quote {
  width: 42px;
  float: right;
}
.content-container .awards-and-testimonies .testimonials .star {
  width: 20px;
}
.content-container .awards-and-testimonies .titles {
  margin-bottom: 30px;
}
.content-container .about-us-container .logo {
  float: left;
  margin: 0 20px 20px 0;
  border: 3px solid rgba(76, 131, 78, 0.55);
  border-radius: 3px;
}
.content-container .about-us-container .google_maps_embed {
  border: 1px solid #EEE;
  box-shadow: 0 0 2px #777;
}
.content-container .products-container .row {
  padding: 40px 0;
}
.content-container .products-container h1 {
  margin-top: 0;
}
.content-container .products-container img {
  width: 212px;
  float: left;
  margin: 0 20px 20px 0;
}
@media (max-width: 768px) {
  .content-container .products-container img {
    display: block;
    margin: 0 auto 0 auto;
    float: none;
  }
}
.content-container .procedures-container .toc_link {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}
.content-container .divider {
  position: absolute;
  width: 1170px;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  max-width: 100%;
}
.content-container .divider:first-child {
  top: -23px;
}
.content-container .divider:last-child {
  bottom: -23px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/*
 * Procedure table of contents
 */
.table_of_contents_wrapper {
  position: relative;
  margin: 80px 0;
  padding: 60px 20px;
  font-size: 18px;
  background-color: #d8d4d1;
  box-shadow: inset 0 1px 2px #bbbbbb, inset 0 -1px 2px #bbbbbb, 0 1px #f3efe7, 0 -1px #b6ab96;
}
/***************************************************************
 * Footer
 ***************************************************************/
.footer-container {
  padding: 20px 0;
  background-color: #9A948F;
  color: #E6E4E3;
}
.footer-container a {
  color: #65625D;
}
.footer-container a:hover {
  color: #EFEFEF;
}
.footer-container .footer-left {
  text-align: center;
}
.footer-container .footer-left h3 {
  line-height: 16px;
  margin-top: 20px;
}
.footer-container .footer-left img {
  margin-top: 20px;
}
@media (max-width: 450px) {
  .footer-container .footer-left {
    text-align: center;
  }
}
.footer-container .footer-middle .facebook-logo {
  width: 55px;
}
.footer-container .footer-middle .address-name {
  font-size: 16px;
  padding: 20px 0 0 0;
}
@media (max-width: 768px) {
  .footer-container .footer-middle {
    padding-top: 30px;
    text-align: center;
  }
}
.footer-container .footer-right ul {
  padding: 0;
  list-style-type: none;
}
.footer-container .footer-right ul li {
  text-transform: uppercase;
}
.footer-container .footer-right ul li:first-letter {
  font-size: 120%;
}
.footer-container .footer-right h3 {
  text-transform: uppercase;
  line-height: 0px;
}
.footer-container .footer-right h3:first-letter {
  font-size: 120%;
}
.km-btn {
  position: relative;
  background-color: #4C834E;
  border: 0;
  padding: 8px 35px;
  border-radius: 2px;
  font-family: CandaraBold, sans-serif;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 4px 0 #d9d5d2;
  -moz-box-shadow: 4px 4px 0 #d9d5d2;
  box-shadow: 4px 4px 0 #d9d5d2;
}
.km-btn:first-letter {
  font-size: 120%;
}
.km-btn:hover {
  background-color: #679769;
}
.km-btn:active {
  -webkit-box-shadow: 2px 2px 0 #d9d5d2;
  -moz-box-shadow: 2px 2px 0 #d9d5d2;
  box-shadow: 2px 2px 0 #d9d5d2;
  background-color: #335835;
  top: 1px;
  left: 1px;
}
.km-btn p {
  display: inline-block;
  text-transform: uppercase;
}
.km-btn p:first-letter {
  font-size: 120%;
}
/************************************************************************
* Mixins
*************************************************************************/
.small-caps {
  text-transform: uppercase;
}
.small-caps:first-letter {
  font-size: 120%;
}
.flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/************************************************************************
* Utilities
*************************************************************************/
.needed {
  color: red;
  font-weight: bold;
}
