html, body {
	background-color: #e3e0d8;
	height: 100%;
}

.phone-call-to-action {
	position: absolute;
	top: 15px;
	right: 0;
	padding: 10px;
	
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	
	background-color: #b8b4ae;
	
	font-family: CandaraBold, Tahoma;
	font-size: 18px;
	color: #f6f6f5;
	
	&:hover {
		background-color: #4c834e;
	}
	
	.glyphicon {
		top: 5px;
		color: #e4e1d9;
		padding-right: 25px;
	}
}

.header {
	padding: 20px 0;
	font-family: CandaraRegular, Tahoma;
	
	.logo {
		float: left;
		width: 265px;
	}
	
	ul { 
		padding-top: 37px;
		list-style-type: none;
		font-size: 18px;
		color: #4d4a47;

		
	
		li {
			float: left;
			padding: 0 20px;
		}
	}
}

.content-container {
	background-color: #d8d4d1;
	min-height:100%;
	
	.divider {
		width: 1170px;
		margin-top: -58px;
	}
}

.footer-container {
	padding: 20px 0;
	font-family: CandaraRegular, Tahoma;
	background-color: #9a948f;
	color: #e6e4e3;
	
	.footer-left {
		h3 {
			line-height: 16px;
		}
	}

	
	.footer-middle {
		.facebook-logo { 
			width: 55px; 
		}
		.address-name {
			font-size: 16px;
			padding: 20px 0 0 0;
		}
	}
	
	.footer-right {
		ul { 
			padding: 0;
			list-style-type: none;
		}
		h3 {
			font-size: 18px;
			line-height: 0px;
		}
	}
		

}